/* CSS Document */
html, body {
	height: 100%;
}

p {
    margin-bottom: 1px;
}

@media only screen and ( max-width:767px) {
h5
{
	font-size: 25px; 
}
.fbody1 {
	background-image: url("../img/colors.gif"); 
	background-position: center;
}
}


@media ( min-width :768px) {
.fbody1 {
	height: 100%;
	
	background-image: url("../img/welcome.gif"); 
	background-position: center;
	
}
}


.fbody {
	height: 100%;
 	 background-color:#222222;
}  

@font-face {
    font-family: simplifica;    
    src: url("../css/simp.ttf");
}

.simp {
     font-family: simplifica;
}

.indexpage{
		height: 80%;
}

.partial-page{
	margin-top: 20px;
}

.container-fluid {
	display: table;
	width: 100%;
	font-weight: normal;
	text-align: center;
}

.container {
	height: 80%;
	width: 100%;
	
	font-weight: normal;
	text-align: center;
}

.buttons {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -100px;
}

.row-fluid {
	width: 100%;
	height: 100%;
}

.bordering {
	border-radius: 25px;
	background: #70DBDB;
	padding: 20px;
}
.button {
    border: 2px solid #a1a1a1;
    padding: 10px 40px; 
    background:#40ff00;
    width: 300px;
    border-radius: 25px;
}


.footer {
	position:fixed; 
    color:white;
    text-align:center;
    bottom: 8px;
    left: 0;
    right: 0;
    height:50px;
    margin-bottom:20px;
    
}


.xc{
	border-radius:10px;
	width:170px;
	height:170px;
}
.a0{
	background:  #ff0055;
}
.a1{
	background: #00ff80;
}
.a2{
	background: #5500ff;
}
.a3{
	background: #00cccc;
}
.a4{
	background: #ff9900;
}

.a5{
	background: #ff6600;
}

@media only screen and (max-width: 769px){
.showInLappy
{
	
	display: none;
}

}

@media only screen and (min-width: 769px){	
.showInMobile
{
	display: none;
}

}