<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" name="viewport" content="width=device-width, initial-scale=1.0">
<title>FACT BOX</title>
<script src="../js/shared/jquery.js"></script>
<script src="../js/shared/bootstrap.js"></script>
<script src="../js/shared/angular.js"></script>
<script src="../js/shared/angular-route.js"></script>
<script src="../js/shared/angular-cookies.js"></script>
<script src="../js/shared/Chart.bundle.js"></script>
<script src="../js/shared/angular-chart.js"></script>
<script src="../js/user/Properties.js"></script>
<script src="../js/user/Application.js"></script>
<script src="../js/user/FactsController.js"></script>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
<link rel="stylesheet" href="../css/bootstrap.css">
<link rel="stylesheet" href="../css/style.css">
</head>

<body ng-app="Application"  class="fbody container" >

<div  class="row" style="background-color: #404040;">
	<div class="col-md-5 col-xs-4"></div>
	<div class="col-md-10 col-md-offset-1 col-xs-10 simp">
	<span class="row col-lg-12 col-md-10" style="text-shadow:white; font-size: 380%; font-weight:200; color:#6AC5A9;">Learn Thousands of&nbsp
	<a href="FactsHome.html#/Home"><img src="../img/logo.png" width="auto" height="70" /></a>&nbspEveryday</span>	
	</div>
	
<div class="col-lg-1"></div>
</div>



<br><br><br>

	<div class="container-fluid">
		<div class="row-fluid">
			<div ng-view></div>
		</div>
	</div>
</body>
<br><br><br><br>
<div class="footer"> 
<br><br>
<h5 class="simp" style="font-size:22px; font-weight:300; color:white;">© Sumeet Barua 2017</h5>
</div>

</html>