
<div class="partial-page">
	<div class="row" ng-init="callAllFunc();"  >
		<div class="col-md-1"></div>
		<div class="col-md-10" >


			<h1 class="roboto" style="color: white;font-weight:300;"  >{{factForm1.Randomlist}}</h1>
			
			<br><br><br><br><br><br><br><br>
			
		    <button type="button" class="btn btn-success buttons roboto" ng-click="factForm1.getFacts();">
				<h5 style="color: white; font-size: large;">More Facts on {{factForm.category}}</h5>
			</button>
		

		</div>
		<div class="col-md-1"></div>
				
		
	</div>

	
</div>
